<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head') %>

    <title><%= locals.title ? title:'Login' %></title>
</head>

<body>


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo d-none d-sm-block"> ShareBike </a>
                    <a href="/" class="logo d-block d-sm-none"> <img src="/public/icons/bike_icon.png" alt="" class="img-fluid"> </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/" class="active">Inicio</a></li>
                        <li><div class="gradient-button"><a id="modal_trigger" href="/login"><i class="fa fa-sign-in-alt"></i> Começar </a> </div></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->



<div class="container">
    <div class="row">

        <div class="col-12 col-md-4 offset-md-4 mt-5 pt-5">
            <div class="user_register mt-5">
                <h2 class="pt-5" style="color:#4b8ef1;font-weight: bold">REGISTO</h2>
                <form method="post" action="/registar">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" name="name"/>
                    </div>

                    <div class="form-group mt-3">
                        <label>Email</label>
                        <input type="text" class="form-control" name="username"/>
                    </div>

                    <div class="form-group mt-3">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password"/>
                    </div>

                    <div class="form-group mt-3">
                        <label>Confirmar Password</label>
                        <input type="password" class="form-control" name="passwordConfirmation"/>
                    </div>

                    <div class="form-group mt-3">
                        <label>Data de nascimento</label>
                        <input type="date" class="form-control" id="nascimento" name="birthdate"/>
                    </div>

                    <div class="action_btns mt-3">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary"  type="submit">Registar</button>
                        </div>
                    </div>
                </form>
                    <div class="row">
                        <div class="col-12">
                            <a href="/login" class="forgot_password text-center">Já tenho uma conta</a>
                            <% if (locals.erros){%>
                                <% for(var i=0; i<erros.length; ++i){ %>

                                    <div class="alter alert-danger text-center"> <%=  erros[i].texto  %> </div>

                                <% } %>
                            <%}%>
                        </div>
                    </div>

            </div>

        </div>

        <div class="col-12">

        </div>


    </div>
</div>

</body>



<%- include('./partials/footer_js') %>
</html>